In [1]:
import pandas as pd
import os
import base64
import time
import pickle as p
import numpy as np
import matplotlib.pyplot as plt
import pandas.core.algorithms as algos
from sklearn.model_selection import train_test_split
from sklearn import metrics
from functools import reduce
import logging
import matplotlib.style as style
import matplotlib
import matplotlib.lines as mlines
from matplotlib.ticker import FuncFormatter
style.use('seaborn')

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
import gc
gc.collect()

51

### Data Loading and Preprocessing

In [4]:
Client = pd.read_excel('../data/Client_info_20191118.xlsx',sheet_name='Sheet1')
TPA = pd.read_excel('../data/Copy_of_TPA_cash.xlsx',sheet_name='Sheet1')
Client = Client.merge(TPA,how='left',left_on='Client ID',right_on='HOST ID')
Customer = pd.read_csv('../data/Customer_Data_Request_20191121.csv')

In [5]:
Client_cols = ['Active',
 'Client ID',
 'Account Name',
 'Industry',
 'NAICS Code',
 'NAICS Description',
 'Broker',
 'TPA_x',
 'Launch Date',
 'Termination Date',
 'Affiliate/Fed Gov?',
 'Cash']

In [6]:
Customer = Customer.merge(Client[Client_cols],how='left',left_on='Unique_Company_ID',right_on='Client ID')

In [7]:
Perf = pd.read_csv('../data/Performance_Data_Request_20191204.csv')
Perf = Perf.merge(Customer, how='left',on='Unique_Customer_ID')
Perf['Year_and_Month'] = pd.to_datetime(Perf['Year_and_Month'].astype(str), format = '%Y%m')
Perf['YQ'] = pd.PeriodIndex(Perf['Year_and_Month'], freq='Q')
# Perf.to_csv('./data/Perf.csv',index = False)

In [8]:
Perf.loc[Perf['Order_Amount']=='.','Order_Amount']=0
Perf['Order_Amount'] = Perf['Order_Amount'].astype(float)

In [13]:
Perf.shape

(38397651, 51)

In [9]:
Perf.head()

  Unique_Order_ID  Unique_Customer_ID  Order_Amount Product_Markup Payments_Due  Current_Balance Date_account_went_delinquent Default_Status Delinquency_Bucket  Losses Auto_Pay_Enrollment Order_Closed_Flag Type_of_Backup_Payment Spending_Limit_at_time_of_Order Tenure_at_time_of_Order Salary_at_time_of_Order        Street1_x Street2_x      City_x State_x    Zip_x                                      items_ordered Year_and_Month EMPSTATUS  Order_Date  Unique_Company_ID Enrollment_Date  Assigned_Spending_Limit  Customer_Tenure  Customer_Salary Prior_Customer_Flag        Street1_y Street2_y      City_y State_y  Zip_y    Status Term_Date Active  Client ID                                       Account Name                         Industry  NAICS Code NAICS Description Broker TPA_x Launch Date Termination Date Affiliate/Fed Gov? Cash      YQ
0        10000091           100486182       1072.88              .        40.11           907.86                            .        Current            000-000     0.0                  PA                 N                    ACH                            96.6                     327                  800.29  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227.0  DeWalt 12in 15-Amp Double-Bevel Compound Miter...     2014-04-01  Employed  03/15/2014             2049.0      02/25/2014                   9660.0            327.0          80029.0        Repeat Buyer  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227  Employed       NaN      Y     2049.0  FEDERAL GOVERNMENT/POSTAL WORKERS/NIH/DEPT OF ...  Federal Government/Associations         NaN               NaN    NaN   NaN  2002-07-01              NaT            Fed Gov  NaN  2014Q2
1        10000091           100486182       1072.88              .        40.11           817.86                            .        Current            000-000     0.0                  PA                 N                    ACH                            96.6                     327                  800.29  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227.0  DeWalt 12in 15-Amp Double-Bevel Compound Miter...     2014-05-01  Employed  03/15/2014             2049.0      02/25/2014                   9660.0            327.0          80029.0        Repeat Buyer  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227  Employed       NaN      Y     2049.0  FEDERAL GOVERNMENT/POSTAL WORKERS/NIH/DEPT OF ...  Federal Government/Associations         NaN               NaN    NaN   NaN  2002-07-01              NaT            Fed Gov  NaN  2014Q2
2        10000091           100486182       1072.88              .        40.11           727.86                            .        Current            000-000     0.0                  PA                 N                    ACH                            96.6                     327                  800.29  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227.0  DeWalt 12in 15-Amp Double-Bevel Compound Miter...     2014-06-01  Employed  03/15/2014             2049.0      02/25/2014                   9660.0            327.0          80029.0        Repeat Buyer  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227  Employed       NaN      Y     2049.0  FEDERAL GOVERNMENT/POSTAL WORKERS/NIH/DEPT OF ...  Federal Government/Associations         NaN               NaN    NaN   NaN  2002-07-01              NaT            Fed Gov  NaN  2014Q2
3        10000091           100486182       1072.88              .        40.11           637.86                            .        Current            000-000     0.0                  PA                 N                    ACH                            96.6                     327                  800.29  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227.0  DeWalt 12in 15-Amp Double-Bevel Compound Miter...     2014-07-01  Employed  03/15/2014             2049.0      02/25/2014                   9660.0            327.0          80029.0        Repeat Buyer  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227  Employed       NaN      Y     2049.0  FEDERAL GOVERNMENT/POSTAL WORKERS/NIH/DEPT OF ...  Federal Government/Associations         NaN               NaN    NaN   NaN  2002-07-01              NaT            Fed Gov  NaN  2014Q3
4        10000091           100486182       1072.88              .        40.11           547.86                            .        Current            000-000     0.0                  PA                 N                    ACH                            96.6                     327                  800.29  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227.0  DeWalt 12in 15-Amp Double-Bevel Compound Miter...     2014-08-01  Employed  03/15/2014             2049.0      02/25/2014                   9660.0            327.0          80029.0        Repeat Buyer  929 IMPERIAL CT       NaN  HALETHORPE      MD  21227  Employed       NaN      Y     2049.0  FEDERAL GOVERNMENT/POSTAL WORKERS/NIH/DEPT OF ...  Federal Government/Associations         NaN               NaN    NaN   NaN  2002-07-01              NaT            Fed Gov  NaN  2014Q3

### Create C/O Flag by criteria --- 150 DPD/No Pay last 90

In [12]:
Perf['Balance_diff_past_90'] = Perf['Current_Balance'].diff(-3)
# Filter where the difference is calculated between different orders, and then assign NaN to the value
mask = Perf['Unique_Order_ID']!= Perf['Unique_Order_ID'].shift(3)
Perf['Balance_diff_past_90'][mask]=np.nan

In [10]:
# Perf[['Unique_Order_ID','Current_Balance','Balance_diff_past_90']].head(50)

In [11]:
# def CO_Flag(row):
#     if (row['Delinquency_Bucket']=='151+') and (row['Balance_diff_past_90']==0):
#         return 1
#     else:
#         return 0

In [9]:
Perf_af15 = Perf.groupby('Unique_Order_ID').filter(lambda x: x['Year_and_Month'].min()>=pd.to_datetime('2015-01'))

In [10]:
Perf_af15.shape

(28922383, 51)

In [15]:
Perf['CO_Flag'] = 0
Perf.loc[(Perf['Delinquency_Bucket']=='151+') & (Perf['Balance_diff_past_90']==0),'CO_Flag']=1

In [18]:
# def new_DQ(row):
#     if row['CO_Flag'] ==1 :
#         return 'CO'
#     else:
#         return row['Delinquency_Bucket']

In [19]:
# Perf['CO_Flag'] = Perf.apply(CO_Flag,axis=1)
# Perf['DQ_new']  = Perf.apply(new_DQ,axis = 1)

In [16]:
Perf['DQ_new'] = Perf['Delinquency_Bucket']
Perf.loc[Perf['CO_Flag']==1,'DQ_new'] = 'CO'

In [17]:
Perf.groupby(['Default_Status','CO_Flag']).size()

Default_Status  CO_Flag
001-030         0           2977970
031-060         0            823220
061-090         0            586676
091-120         0            483602
121-150         0            427299
151+            0           1115044
                1            326051
Bankruptcy      0            165796
                1             41306
Chargeoff       0            351118
                1               682
Current         0          30940967
Fraud           0            156978
                1               942
dtype: int64

In [20]:
Perf.groupby('YQ').agg({'CO_Flag':'sum','Unique_Order_ID':'count'}).reset_index()

        YQ  CO_Flag  Unique_Order_ID
0   2012Q1        0            50256
1   2012Q2        0           143959
2   2012Q3      118           256584
3   2012Q4     1543           431733
4   2013Q1     1994           605728
5   2013Q2     2100           655469
6   2013Q3     2808           694354
7   2013Q4     3618           764010
8   2014Q1     4794           788795
9   2014Q2     5735           788875
10  2014Q3     4696           821654
11  2014Q4     5363           919832
12  2015Q1     6063           950683
13  2015Q2     6262           974388
14  2015Q3     6574          1033769
15  2015Q4     7565          1182519
16  2016Q1     9750          1285861
17  2016Q2     9787          1340895
18  2016Q3     9489          1373841
19  2016Q4     6767          1537822
20  2017Q1    11441          1527096
21  2017Q2    16419          1562898
22  2017Q3    24025          1634984
23  2017Q4    30486          1823885
24  2018Q1    31197          1850189
25  2018Q2    27595          1913784
26  2018Q3    28945          1982465
27  2018Q4    36333          2210015
28  2019Q1    24096          2215686
29  2019Q2    25905          2187358
30  2019Q3    17510          2157669
31  2019Q4        3           730595

In [19]:
CO_Loss = Perf[Perf['Default_Status']=='Chargeoff'].groupby(['YQ']).agg({'Losses':'sum'}).reset_index()
Total_Balance = Perf.groupby(['YQ']).agg({'Current_Balance':'sum'}).reset_index()
CO_Loss.merge(Total_Balance, how='left', on= 'YQ')

        YQ       Losses  Current_Balance
0   2012Q2       970.06     1.536808e+08
1   2012Q3    191187.73     2.389975e+08
2   2012Q4    493415.99     3.617630e+08
3   2013Q1    536864.12     4.423111e+08
4   2013Q2   2428065.53     4.123733e+08
5   2013Q3   2611896.68     3.902052e+08
6   2013Q4   3971190.71     4.451606e+08
7   2014Q1   3655656.25     4.967926e+08
8   2014Q2   3509867.46     4.476229e+08
9   2014Q3   3396924.30     4.320898e+08
10  2014Q4   4378153.30     5.068804e+08
11  2015Q1   4049909.39     5.712229e+08
12  2015Q2   4016905.95     5.235620e+08
13  2015Q3   3941916.86     5.118416e+08
14  2015Q4   4473740.08     6.018279e+08
15  2016Q1   4078283.38     6.778530e+08
16  2016Q2   6343168.81     6.116545e+08
17  2016Q3   3919625.38     5.738454e+08
18  2016Q4   5918050.53     6.690409e+08
19  2017Q1   6619461.56     7.344135e+08
20  2017Q2   3336603.80     6.847668e+08
21  2017Q3   6039549.76     6.623916e+08
22  2017Q4   6593742.40     7.633829e+08
23  2018Q1   5691872.17     8.469447e+08
24  2018Q2   7877362.84     7.957921e+08
25  2018Q3   6868418.01     7.710258e+08
26  2018Q4   9122358.92     8.747889e+08
27  2019Q1  11194328.26     9.158427e+08
28  2019Q2  12214028.57     8.227111e+08
29  2019Q3   5264820.67     7.818009e+08
30  2019Q4   2197401.52     2.586949e+08

In [30]:
Perf.pivot_table(values = 'Current_Balance',index = 'YQ', columns = 'DQ_new',aggfunc='sum',margins = True)

DQ_new       000-000       001-030       031-060       061-090       091-120       121-150          151+            CO           All
YQ
2012Q1  5.895969e+07  1.946948e+06  4.995665e+04  2.330500e+03           NaN           NaN           NaN           NaN  6.095892e+07
2012Q2  1.380004e+08  1.320173e+07  1.693510e+06  5.819009e+05  1.815513e+05  1.943262e+04  2.330500e+03           NaN  1.536808e+08
2012Q3  2.067315e+08  2.340078e+07  3.890096e+06  2.214250e+06  1.383073e+06  9.144608e+05  3.145098e+05  1.487480e+05  2.389975e+08
2012Q4  3.178057e+08  2.699850e+07  6.203654e+06  3.670709e+06  2.539918e+06  1.892901e+06  9.918885e+05  1.659741e+06  3.617630e+08
2013Q1  3.752310e+08  4.156449e+07  7.586047e+06  4.271571e+06  3.593581e+06  2.964612e+06  5.181238e+06  1.918543e+06  4.423111e+08
2013Q2  3.377268e+08  4.131305e+07  1.055375e+07  6.246150e+06  4.692835e+06  3.593183e+06  6.446113e+06  1.801403e+06  4.123733e+08
2013Q3  3.132123e+08  3.764253e+07  9.942882e+06  6.907057e+06  5.613185e+06  4.818267e+06  1.011873e+07  1.950193e+06  3.902052e+08
2013Q4  3.671621e+08  3.989659e+07  8.240679e+06  6.497081e+06  5.666638e+06  5.115091e+06  1.042921e+07  2.153229e+06  4.451606e+08
2014Q1  4.226183e+08  3.752915e+07  8.900541e+06  5.766768e+06  4.702164e+06  4.558190e+06  1.011601e+07  2.601428e+06  4.967926e+08
2014Q2  3.744591e+08  3.282518e+07  1.050029e+07  7.465936e+06  5.804002e+06  4.646883e+06  9.127608e+06  2.793886e+06  4.476229e+08
2014Q3  3.492330e+08  3.951395e+07  1.042821e+07  7.515518e+06  5.962783e+06  5.608760e+06  1.107952e+07  2.748061e+06  4.320898e+08
2014Q4  4.251999e+08  3.921686e+07  1.004152e+07  7.372557e+06  5.995817e+06  5.216889e+06  1.086003e+07  2.976881e+06  5.068804e+08
2015Q1  4.578171e+08  6.866020e+07  1.297906e+07  6.876502e+06  5.665585e+06  5.005836e+06  1.099849e+07  3.220118e+06  5.712229e+08
2015Q2  4.233498e+08  4.928586e+07  1.420239e+07  9.909771e+06  7.207238e+06  5.607166e+06  1.056699e+07  3.432767e+06  5.235620e+08
2015Q3  4.149915e+08  4.323557e+07  1.258710e+07  8.951711e+06  7.745499e+06  6.845151e+06  1.354994e+07  3.935146e+06  5.118416e+08
2015Q4  5.057273e+08  3.936174e+07  1.225738e+07  9.627612e+06  8.019005e+06  7.260208e+06  1.542586e+07  4.148801e+06  6.018279e+08
2016Q1  5.665793e+08  5.201341e+07  1.246584e+07  8.594395e+06  7.119348e+06  6.935067e+06  1.917425e+07  4.971376e+06  6.778530e+08
2016Q2  5.042732e+08  4.447761e+07  1.431429e+07  1.063501e+07  8.268737e+06  6.648550e+06  1.823537e+07  4.801804e+06  6.116545e+08
2016Q3  4.670588e+08  4.049661e+07  1.403861e+07  1.069583e+07  9.033517e+06  7.668362e+06  2.018007e+07  4.673623e+06  5.738454e+08
2016Q4  5.616685e+08  3.934552e+07  1.345712e+07  1.002131e+07  8.745764e+06  8.132764e+06  2.463772e+07  3.032147e+06  6.690409e+08
2017Q1  6.084262e+08  5.960127e+07  1.526225e+07  9.823352e+06  8.256433e+06  7.586697e+06  2.065958e+07  4.797786e+06  7.344135e+08
2017Q2  5.466750e+08  6.242498e+07  1.705091e+07  1.263847e+07  9.613850e+06  7.933665e+06  2.161786e+07  6.812012e+06  6.847668e+08
2017Q3  5.252507e+08  5.236501e+07  1.643582e+07  1.268634e+07  1.093453e+07  9.826586e+06  2.458484e+07  1.030780e+07  6.623916e+08
2017Q4  6.238494e+08  5.235451e+07  1.596071e+07  1.163476e+07  1.038557e+07  1.002459e+07  2.595711e+07  1.321630e+07  7.633829e+08
2018Q1  6.897207e+08  6.426080e+07  1.754511e+07  1.161249e+07  9.998875e+06  9.094458e+06  3.095946e+07  1.375276e+07  8.469447e+08
2018Q2  6.419571e+08  5.589828e+07  2.013057e+07  1.468715e+07  1.164790e+07  9.814988e+06  2.885371e+07  1.280239e+07  7.957921e+08
2018Q3  6.026457e+08  6.208628e+07  2.143716e+07  1.554372e+07  1.288766e+07  1.163432e+07  3.005595e+07  1.473511e+07  7.710258e+08
2018Q4  7.057607e+08  5.854696e+07  1.909599e+07  1.551461e+07  1.364452e+07  1.255934e+07  3.374979e+07  1.591702e+07  8.747889e+08
2019Q1  7.116342e+08  9.138014e+07  1.996447e+07  1.514057e+07  1.255374e+07  1.230026e+07  4.213326e+07  1.073604e+07  9.158427e+08
2019Q2  6.505844e+08  6.227599e+07  2.036612e+07  1.643355e+07  1.475881e+07  1.283747e+07  3.645897e+07  8.995775e+06  8.227111e+08
2019Q3  6.193879e+08  4.689502e+07  1.923214e+07  1.457704e+07  1.350757e+07  1.275618e+07  4.855206e+07  6.892991e+06  7.818009e+08
2019Q4  2.037095e+08  1.456234e+07  6.009342e+06  4.785084e+06  3.958864e+06  3.851069e+06  2.181827e+07  4.193400e+02  2.586949e+08
All     1.471741e+10  1.434578e+09  4.028235e+08  2.889011e+08  2.400886e+08  2.136714e+08  5.728367e+08  1.719343e+08  1.804224e+10

### Vintage $ DQ Rate View

In [15]:
YQ_list = Perf[Perf['YQ']>='2015Q1']['YQ'].unique()
x = Perf.loc[Perf.groupby('Unique_Order_ID')['Year_and_Month'].idxmin()]

In [22]:
def vintage_dollar_view(df, YQ, vintage):
    order_list = vintage[vintage['YQ'] == YQ]['Unique_Order_ID'].unique()
    total_balance = vintage[vintage['YQ'] == YQ]['Current_Balance'].sum()
    df_YQ = df[df['Unique_Order_ID'].isin(order_list)]
    df_DQ = df_YQ[df_YQ.Default_Status.isin(['151+', 'Chargeoff'])]
    df_DQ = df_DQ.loc[df_DQ.groupby('Unique_Order_ID')[
        'Year_and_Month'].idxmin()]
    view = df_DQ.groupby('Year_and_Month').agg({'Current_Balance':'sum'}).reset_index()
    view['DQ_Balance'] = view['Current_Balance'].cumsum()
    view['DQ_Rate'] = view['DQ_Balance']/total_balance

    view['month_order'] = np.arange(1+round((view['Year_and_Month'].min()-df_YQ['Year_and_Month'].min())/np.timedelta64(1, 'M')), len(
        view)+1+round((view['Year_and_Month'].min()-df_YQ['Year_and_Month'].min())/np.timedelta64(1, 'M')))
    view.rename(columns = {'DQ_Rate':str(YQ)+'_Vintage'},inplace = True)
    return view

In [23]:
# Q1
temp = pd.DataFrame(np.arange(1,31),columns = ['month_order'])
Q1_vintage_list = [temp]
for i in range(int(len(YQ_list)/4)):
    print(YQ_list[i*4])
    view = vintage_dollar_view(Perf, YQ_list[i*4], x)
    Q1_vintage_list.append(view[['month_order',str(YQ_list[i*4])+'_Vintage']])

2015Q1
2016Q1
2017Q1
2018Q1
2019Q1

In [24]:
# Q2
Q2_vintage_list = [temp]
for i in range(int(len(YQ_list)/4)):
    print(YQ_list[1+i*4])
    view = vintage_dollar_view(Perf, YQ_list[1+i*4], x)
    Q2_vintage_list.append(view[['month_order',str(YQ_list[1+i*4])+'_Vintage']])

2015Q2
2016Q2
2017Q2
2018Q2
2019Q2

In [25]:
# Q3
Q3_vintage_list = [temp]
for i in range(int(len(YQ_list)/4)):
    print(YQ_list[2+i*4])
    view = vintage_dollar_view(Perf, YQ_list[2+i*4], x)
    Q3_vintage_list.append(view[['month_order',str(YQ_list[2+i*4])+'_Vintage']])

2015Q3
2016Q3
2017Q3
2018Q3
2019Q3

In [26]:
# Q4
Q4_vintage_list = [temp]
for i in range(int(len(YQ_list)/4)-1):
    print(YQ_list[3+i*4])
    view = vintage_dollar_view(Perf, YQ_list[3+i*4], x)
    Q4_vintage_list.append(view[['month_order',str(YQ_list[3+i*4])+'_Vintage']])

2015Q4
2016Q4
2017Q4
2018Q4

In [28]:
Q1_final=reduce(lambda x,y: pd.merge(x,y, how='left',on='month_order'),Q1_vintage_list)
Q2_final=reduce(lambda x,y: pd.merge(x,y, how='left',on='month_order'),Q2_vintage_list)
Q3_final=reduce(lambda x,y: pd.merge(x,y, how='left',on='month_order'),Q3_vintage_list)
Q4_final=reduce(lambda x,y: pd.merge(x,y, how='left',on='month_order'),Q4_vintage_list)

In [29]:
Q1_final.to_csv('../data/Q1_Dollar.csv',index = False)
Q2_final.to_csv('../data/Q2_Dollar.csv',index = False)
Q3_final.to_csv('../data/Q3_Dollar.csv',index = False)
Q4_final.to_csv('../data/Q4_Dollar.csv',index = False)

### Portfolio View - First Time DQ151+ Rate

In [23]:
DQ151 = Perf[Perf.Default_Status =='151+']
DQ151 = DQ151.loc[DQ151.groupby('Unique_Order_ID')['Year_and_Month'].idxmin()]
view = DQ151.groupby('YQ')['Unique_Order_ID'].size().reset_index()
view

        YQ  Unique_Order_ID
0   2012Q2                3
1   2012Q3              308
2   2012Q4             1166
3   2013Q1             2377
4   2013Q2             3083
5   2013Q3             5582
6   2013Q4             6958
7   2014Q1             6591
8   2014Q2             5331
9   2014Q3             7007
10  2014Q4             7784
11  2015Q1             8085
12  2015Q2             6989
13  2015Q3             8761
14  2015Q4             9798
15  2016Q1            11075
16  2016Q2             9676
17  2016Q3            11652
18  2016Q4            14182
19  2017Q1            14230
20  2017Q2            13386
21  2017Q3            15707
22  2017Q4            17938
23  2018Q1            17536
24  2018Q2            16566
25  2018Q3            20525
26  2018Q4            24886
27  2019Q1            26772
28  2019Q2            24866
29  2019Q3            26375
30  2019Q4             8308