In [1]:
import pandas as pd
import os
import base64
import time
import pickle as p
import numpy as np
import matplotlib.pyplot as plt
import pandas.core.algorithms as algos
from sklearn.model_selection import train_test_split
from sklearn import metrics
from functools import reduce
import datetime
from dateutil.relativedelta import relativedelta
import logging
import matplotlib.style as style
import matplotlib
import matplotlib.lines as mlines
from matplotlib.ticker import FuncFormatter
style.use('seaborn')

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
import gc
gc.collect()

51

In [4]:
data_path = '../data/' # Where your customer and performance data located
output_path = 'TO BE FILLED IN' # Where do you want to output the final dataset
filename = 'TO BE FILLED IN' # What do you want to name the output dataset

## Data Loading & Preprocessing

### 1. Customer Dataset

In [5]:
Customer_old = pd.read_csv(data_path + 'Customer_Data_Request_20191121.csv')
Customer = pd.read_csv(data_path + 'Customer_Data_Request_20191217.csv')

In [6]:
# Append these 2 dataframes together
Customer = Customer_old.append(Customer,ignore_index = True)
# 2 Customer has duplicating records, we pick ClientID 2049 as their real Client but this is just a random choice
# Customer[Customer['Unique_Customer_ID']==100541023,100696306]
# Drop the duplicates customerID by index
Customer = Customer.drop(Customer.index[[72898,51730]])

# Some data cleaning here, eliminate the customers with following cases
# Customer_Salary has NaN, 0 and '.'
# Assigned_Spending_Limit has 0
# Customer_Tenure has NaN
Customer = Customer[(Customer['Assigned_Spending_Limit'] != 0) & 
                    (~Customer['Customer_Salary'].isin([0, '.'])) & 
                    (Customer['Customer_Salary'].notnull())&
                    (Customer['Customer_Tenure'].notnull())]



 # Formating conversion
Customer['Customer_Salary'] = Customer['Customer_Salary'].astype(float)
Customer['City'] = Customer['City'].apply(lambda x: x.title() if pd.notnull(x) else np.nan)
Customer['Status'] = Customer['Status'].apply(lambda x: x.title() if pd.notnull(x) else np.nan)

Customer['Enrollment_Date'] = pd.to_datetime(Customer['Enrollment_Date'].astype(str), format='%m/%d/%Y')

Customer.loc[Customer['Term_Date']=='.','Term_Date'] = np.nan
Customer['Term_Date'] = pd.to_datetime(Customer['Term_Date'].astype(str), format='%m/%d/%Y')
Customer.head()

   Unique_Customer_ID  Unique_Company_ID Enrollment_Date  Assigned_Spending_Limit  Customer_Tenure  Customer_Salary Prior_Customer_Flag                 Street1 Street2           City State    Zip    Status Term_Date
0           100001115               1000      2014-02-24                   6880.0            230.0          58229.0        Repeat Buyer          1471 N EAST ST     NaN           York    PA  17406  Employed       NaT
1           100001120               1000      2014-02-24                   6520.0            362.0         109245.0        Repeat Buyer         94 Brentwood Ln     NaN  Valley Stream    NY  11581  Employed       NaT
2           100001141               1000      2014-02-25                  10290.0            337.0         127226.0        Repeat Buyer  103 KENILWORTH PARK DR  APT 2B         Towson    MD  21204  Employed       NaT
3           100001158               1000      2014-02-24                   5190.0            419.0          49375.0        Repeat Buyer       1036 Braddish Ave     NaN      Baltimore    MD  21216  Employed       NaT
4           100001169               1000      2014-02-24                   7500.0            448.0          69460.0        Repeat Buyer       3915 W ROGERS AVE     NaN      Baltimore    MD  21215  Employed       NaT

In [7]:
# Check Missing Values
Customer.isnull().sum(axis=0)

Unique_Customer_ID              0
Unique_Company_ID               0
Enrollment_Date                 0
Assigned_Spending_Limit         0
Customer_Tenure                 0
Customer_Salary                 0
Prior_Customer_Flag             0
Street1                        54
Street2                    428587
City                           55
State                           1
Zip                             5
Status                        280
Term_Date                  432636
dtype: int64

In [8]:
Customer.dtypes

Unique_Customer_ID                  int64
Unique_Company_ID                   int64
Enrollment_Date            datetime64[ns]
Assigned_Spending_Limit           float64
Customer_Tenure                   float64
Customer_Salary                   float64
Prior_Customer_Flag                object
Street1                            object
Street2                            object
City                               object
State                              object
Zip                                object
Status                             object
Term_Date                  datetime64[ns]
dtype: object

In [9]:
Customer.shape

(549500, 14)

### 2. Performance Dataset

In [43]:
Perf = pd.read_csv(data_path + 'Performance_Data_Request_20191204.csv')
Perf_11 = pd.read_csv(data_path + 'Performance_Data_Request_20191217.csv')

In [10]:
# Deal with the column name mismatching issue before appending the 2 dataframes together
Perf_11.rename(columns = {' Unique_Order_ID':'Unique_Order_ID','Order_date':'Order_Date'},inplace = True)
Perf.rename(columns = {'items_ordered':'Items_Ordered','EMPSTATUS':'Customer_Status'},inplace = True)
Perf = Perf.append(Perf_11, ignore_index=True)

In [11]:
# Make sure the data order is aligned with OrderID & Y-M
Perf['Year_and_Month'] = pd.to_datetime(Perf['Year_and_Month'].astype(str), format = '%Y%m')
Perf = Perf.sort_values(['Unique_Order_ID','Year_and_Month'],ascending = [False,True])

# Create new column - YQ and Year
Perf['YQ'] = pd.PeriodIndex(Perf['Year_and_Month'], freq='Q')
Perf['Year'] = Perf['YQ'].dt.year

# Assign Payment Order as a new column
Perf['Payment_Order'] = Perf.groupby('Unique_Order_ID')['Year_and_Month'].rank(method='first')

# Treat 151+ ad CO as BAD
Perf['Bad']=0
Perf.loc[Perf['Default_Status'].isin(['151+','Chargeoff']),'Bad']=1
# Create a flag Ever_Bad to distinguish first time bad and non-first time bad 
Perf['Ever_Bad'] = Perf.groupby('Unique_Order_ID')['Bad'].transform(pd.Series.cumsum)

# Create 2os Loss, using Losses for C/O orders and Current_Balance for 151+ orders
Perf['2os_loss'] = 0
Perf.loc[Perf['Default_Status']=='Chargeoff','2os_loss'] = Perf.loc[Perf['Default_Status']=='Chargeoff','Losses']
Perf.loc[Perf['Default_Status']=='151+','2os_loss'] = Perf.loc[Perf['Default_Status']=='151+','Current_Balance']


# Perf['Enrollment_Date'] = pd.to_datetime(Perf['Enrollment_Date'].astype(str), format = '%m/%d/%Y')

In [12]:
# Some cleaning here
Perf.loc[Perf['Order_Amount']=='.','Order_Amount']=np.nan
Perf['Order_Amount'] = Perf['Order_Amount'].astype(float)

Perf = Perf[(Perf['Order_Amount'].notnull()) & (Perf['Order_Amount']!=0)]

In [13]:
Perf = Perf.merge(Customer, how='left',on='Unique_Customer_ID')

## Start Constructing data

### 1. Generating Customer Level Data

In [14]:
# Create time_window mark for 18-month data selection later
Perf['time_window'] = Perf['Enrollment_Date'].dt.date + relativedelta(months=18)

In [15]:
def Perf_filter(df):
    """
    This function takes the Perf dataset and subgroup is with time window condition, 
    then it generates some of the customer-level variables that we expect, such as
    Num_of_Contracts,Total_CO_Balance,Total_Spend
    
    The output would be a customer-level dataframe, where the customers are enrolled in 2017-04 to 2018-04 time period
    """
    
    # Select customers that enrolled in the past 18-30 months (mature)
    df_sub = df[(df['Enrollment_Date'] <= pd.to_datetime('2018-04'))
                & (df['Enrollment_Date'] >= pd.to_datetime('2017-04'))]
    # Get the latest order records
    df_sub = df_sub.loc[df_sub.groupby('Unique_Order_ID')[
        'Year_and_Month'].idxmax()]
    # create customer level data with "# of orders" and "Bad Flag"
    df_sub = df_sub.groupby('Unique_Customer_ID').agg(
        {'Unique_Order_ID': 'count', 'Ever_Bad': 'sum', '2os_loss': 'sum', 'Order_Amount': 'sum'}).reset_index()
    # The definition of Bad here is whether a customer has at least 1 order goes bad
    df_sub['Bad'] = df_sub['Ever_Bad'] >= 1

    df_sub.rename(columns={'Unique_Order_ID': 'Num_of_Contracts',
                           '2os_loss': 'Total_CO_Balance', 'Order_Amount': 'Total_Spend'}, inplace=True)

    return df_sub

In [16]:
tmp = Perf_filter(Perf)

In [17]:
tmp.shape

(73729, 6)

In [18]:
tmp.head()

   Unique_Customer_ID  Num_of_Contracts  Ever_Bad  Total_CO_Balance  Total_Spend    Bad
0           302641212                 1         0               0.0      1889.29  False
1           302641217                 1         0               0.0       304.34  False
2           302641220                 3         0               0.0      4516.09  False
3           302641222                15         0               0.0      7546.45  False
4           302641226                13         0               0.0      8152.89  False

In [19]:
# Let's just call our first merged dataset df..., merge tmp with Customer, we'll have `Customer_Tenure`, 
# `Customer_Tenure` and `Assigned_Spending_Limit`...
df = tmp[['Unique_Customer_ID', 'Bad', 'Num_of_Contracts','Total_CO_Balance','Total_Spend']].merge(
    Customer, how='left', on='Unique_Customer_ID')

In [20]:
df.shape

(73729, 18)

In [21]:
df.head()

   Unique_Customer_ID    Bad  Num_of_Contracts  Total_CO_Balance  Total_Spend  Unique_Company_ID Enrollment_Date  Assigned_Spending_Limit  Customer_Tenure  Customer_Salary Prior_Customer_Flag             Street1 Street2          City State    Zip       Status Term_Date
0           302641212  False                 1               0.0      1889.29               2183      2017-04-01                   7260.0            317.0         47196.00     First Time Byer    214 S KESSING ST     NaN   PORTERVILLE    CA  93257     Employed       NaN
1           302641217  False                 1               0.0       304.34               2302      2017-04-01                    500.0             44.0         11804.00     First Time Byer     6580 MORET DR S     NaN  JACKSONVILLE    FL  32244  Direct Bill       NaN
2           302641220  False                 3               0.0      4516.09               2250      2017-04-01                   2940.0             34.0         34037.38        Repeat Buyer      2967 GORDON RD     NaN     ROCK HILL    SC  29732     Employed       NaN
3           302641222  False                15               0.0      7546.45               2425      2017-04-01                   3065.0             43.0         35495.09        Repeat Buyer  9231 S CYPRESS CIR     NaN       MIRAMAR    FL  33025     Employed       NaN
4           302641226  False                13               0.0      8152.89               2464      2017-04-01                   1500.0             33.0         55823.00        Repeat Buyer  2266 S HARWOOD AVE     NaN   UPPER DARBY    PA  19082  Direct Bill       NaN

### 2. Generating `Client Risk`
- The reason why a fixed time window is used here is it's hard to track each customer's enrollment date to get a cutomer-level Client Risk, so instead of generating a unique Client Risk for each customer, we use an approximate method to get a same Client Risk for all customers from that specific Client.

In [22]:
Perf_p12m = Perf[(Perf['Year_and_Month'] <= pd.to_datetime('2017-04'))              
                & (Perf['Year_and_Month'] >= pd.to_datetime('2016-04'))]

In [23]:
# Get Total CO Balance per Client
client_loss = Perf_p12m[(Perf_p12m['Bad'] == 1) & (
    Perf_p12m['Ever_Bad'] <= 1)].groupby('Unique_Company_ID')['2os_loss'].sum().reset_index()

In [24]:
# Get Total Spend per Client
client_order_vol = Perf_p12m.groupby(['Unique_Company_ID', 'Unique_Order_ID']).head(
    1).groupby('Unique_Company_ID')['Order_Amount'].sum().reset_index()

In [25]:
# I really don't know how to name this dataset
client_loss_m = client_loss.merge(client_order_vol, how='right',on='Unique_Company_ID')

In [26]:
client_loss_m.head()

   Unique_Company_ID   2os_loss  Order_Amount
0             1000.0  216543.28   11203596.54
1             1200.0   17430.36     710638.32
2             1301.0      60.60       6820.50
3             1302.0     538.91      50913.44
4             1500.0    3379.07    1679927.63

In [27]:
client_loss_m['Client_Risk'] = client_loss_m['2os_loss']/client_loss_m['Order_Amount']

In [28]:
# Some client may have no loss where 2os_loss is NaN, resulting loss_rate == NaN, fill these with 0
client_loss_m =  client_loss_m.fillna(0)

In [29]:
# Now merge the Clint risk to our first merged dataset df
df = df.merge(client_loss_m[['Unique_Company_ID','Client_Risk']], how = 'left',on= 'Unique_Company_ID')

### 3. Final Steps..

In [30]:
# Customers with missing `Client_Risk` means their company don't have any orders prior(12m) to their enrollment
# Some Salary number seems to be ridiculous, treat them as outliers
final = df[(df['Client_Risk'].notnull())&(df['Customer_Salary']>2000) &(df['Customer_Salary']!=9999999.99)]

In [31]:
# See the summary of important features
final[['Customer_Tenure','Customer_Salary','Assigned_Spending_Limit','Client_Risk','Num_of_Contracts','Total_CO_Balance','Total_Spend']].describe()

       Customer_Tenure  Customer_Salary  Assigned_Spending_Limit   Client_Risk  Num_of_Contracts  Total_CO_Balance   Total_Spend
count     72031.000000     72031.000000             72031.000000  72031.000000      72031.000000      72031.000000  72031.000000
mean         79.702989     41366.802059              3658.995904      0.027663          4.273466        234.993017   3089.612642
std          71.252333     19453.695191              2228.914229      0.026077          5.094489        655.422507   3153.956408
min           1.000000      2308.000000               400.000000      0.000000          1.000000          0.000000     11.380000
25%          38.000000     29827.200000              1875.000000      0.002049          1.000000          0.000000   1018.835000
50%          50.000000     35741.000000              3260.000000      0.033255          3.000000          0.000000   2058.390000
75%          90.000000     47819.200000              4930.000000      0.035308          5.000000          0.000000   4016.765000
max         634.000000    762720.000000             13160.000000      0.316066        103.000000       9959.360000  41403.970000

In [176]:
# final.isnull().sum(axis=0)

## Big Time: Output the final dataset

In [ ]:
final.to_csv(output_path + filename +'.csv')

In [ ]:
#----------------------------------------------- END ------------------------------------------------------#

In [32]:
final.shape

(72031, 19)

In [33]:
final.head()

   Unique_Customer_ID    Bad  Num_of_Contracts  Total_CO_Balance  Total_Spend  Unique_Company_ID Enrollment_Date  Assigned_Spending_Limit  Customer_Tenure  Customer_Salary Prior_Customer_Flag             Street1 Street2          City State    Zip       Status Term_Date  Client_Risk
0           302641212  False                 1               0.0      1889.29               2183      2017-04-01                   7260.0            317.0         47196.00     First Time Byer    214 S KESSING ST     NaN   PORTERVILLE    CA  93257     Employed       NaN     0.021343
1           302641217  False                 1               0.0       304.34               2302      2017-04-01                    500.0             44.0         11804.00     First Time Byer     6580 MORET DR S     NaN  JACKSONVILLE    FL  32244  Direct Bill       NaN     0.033438
2           302641220  False                 3               0.0      4516.09               2250      2017-04-01                   2940.0             34.0         34037.38        Repeat Buyer      2967 GORDON RD     NaN     ROCK HILL    SC  29732     Employed       NaN     0.040143
3           302641222  False                15               0.0      7546.45               2425      2017-04-01                   3065.0             43.0         35495.09        Repeat Buyer  9231 S CYPRESS CIR     NaN       MIRAMAR    FL  33025     Employed       NaN     0.068904
4           302641226  False                13               0.0      8152.89               2464      2017-04-01                   1500.0             33.0         55823.00        Repeat Buyer  2266 S HARWOOD AVE     NaN   UPPER DARBY    PA  19082  Direct Bill       NaN     0.002049

In [34]:
def view(var,df):
    print('Spending Limit by {}'.format(var))
    df[var+'_bin'] = pd.qcut(df[var], q=4)
    return df.groupby(var+'_bin').agg({'Assigned_Spending_Limit':'mean','Unique_Customer_ID':'count'}).round(2)

In [35]:
view('Customer_Salary',final)

Spending Limit by Customer_Salary

                     Assigned_Spending_Limit  Unique_Customer_ID
Customer_Salary_bin
(2307.999, 29827.2]                  1605.42               18010
(29827.2, 35741.0]                   2722.55               18006
(35741.0, 47819.2]                   4046.47               18009
(47819.2, 762720.0]                  6261.94               18006

In [120]:
view('Customer_Tenure',final)

Spending Limit by Customer_Tenure

                     Assigned_Spending_Limit  Unique_Customer_ID
Customer_Tenure_bin
(0.999, 38.0]                        2953.69               19592
(38.0, 50.0]                         3025.98               16588
(50.0, 90.0]                         3814.54               17910
(90.0, 634.0]                        4859.21               17941

In [121]:
view('loss_rate',final)

Spending Limit by loss_rate

                   Assigned_Spending_Limit  Unique_Customer_ID
loss_rate_bin
(-0.001, 0.00205]                  3187.45               18539
(0.00205, 0.0333]                  4359.32               18094
(0.0333, 0.0353]                   3662.20               18628
(0.0353, 0.316]                    3421.10               16770

In [122]:
def risk_view(var,df):
    print('Bad Rate by {}'.format(var))
    df[var+'_bin'] = pd.qcut(df[var], q=4)
    return df.groupby(var+'_bin')['Bad'].sum().div(df.groupby(var+'_bin')['Unique_Customer_ID'].size())

In [123]:
risk_view('Customer_Salary',final)

Bad Rate by Customer_Salary

Customer_Salary_bin
(2307.999, 29827.2]    0.362132
(29827.2, 35741.0]     0.273131
(35741.0, 47819.2]     0.177578
(47819.2, 762720.0]    0.136621
dtype: float64

In [124]:
risk_view('Customer_Tenure',final)

Bad Rate by Customer_Tenure

Customer_Tenure_bin
(0.999, 38.0]    0.281748
(38.0, 50.0]     0.312696
(50.0, 90.0]     0.227192
(90.0, 634.0]    0.129424
dtype: float64

In [173]:
risk_view('Client_Risk',final)

Bad Rate by Client_Risk

Client_Risk_bin
(-0.001, 0.00205]    0.222018
(0.00205, 0.0333]    0.188792
(0.0333, 0.0353]     0.245491
(0.0353, 0.316]      0.297734
dtype: float64

In [174]:
print('Bad Rate vs Spending Limit')
final['Spending_Limit_bin'] = pd.qcut(final['Assigned_Spending_Limit'], q=6)
final.groupby('Spending_Limit_bin')['Bad'].sum().div(final.groupby('Spending_Limit_bin')['Unique_Customer_ID'].size())

Bad Rate vs Spending Limit

Spending_Limit_bin
(399.999, 1445.0]    0.365557
(1445.0, 2330.0]     0.312217
(2330.0, 3260.0]     0.267938
(3260.0, 4335.0]     0.212948
(4335.0, 5620.0]     0.154103
(5620.0, 13160.0]    0.108509
dtype: float64